<div ng-controller="mainController">
    <!--Tree node template begin-->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="list.list && list.list.length > 0" data-nodrag
               ng-click="toggle(this)"><span
                    class="glyphicon"
                    ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
            {{list.name}}
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="loadTemplatesForNode(list.type)">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <ol ui-tree-nodes="" ng-model="list.list" ng-class="{hidden: collapsed}">
            <li ng-repeat="list in list.list" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <!--Tree node template end-->


    <!--Script template begin-->
    <script type="text/ng-template" id="accordion-content-script.html">
        <div ng-if="statusOpen" ng-init="resetFlags()">
            <div class="alert alert-success" ng-show="showScriptSuccess" ng-cloak>
                <div class="messages-group">
                    <div translate>EXECUTE_COMMAND_SUCCESS</div>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="showScriptError" ng-cloak>
                <div class="messages-group">
                    <div translate>EXECUTE_COMMAND_ERROR</div>
                </div>
            </div>
            <div class="panel panel-default">
                {{template.description}}
            </div>
            <br/>
            <button class="btn btn-info" ng-click="runScript(template.id, template.name)" translate>
                TEMPLATE_LIST_RUN_COMMAND
            </button>
        </div>
    </script>
    <!--Script template end-->


    <!--File template begin-->
    <script type="text/ng-template" id="accordion-content-file.html">
        <div ng-if="statusOpen" ng-init="loadFileContent(template.id, template.name)">
            <div class="alert alert-success" ng-show="showFileSaveSuccess" ng-cloak>
                <div class="messages-group">
                    <div translate>SAVE_CHANGES_SUCCESS</div>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="showFileSaveError" ng-cloak>
                <div class="messages-group">
                    <div translate>SAVE_CHANGES_ERROR</div>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="showLoadFileError" ng-cloak>
                <div class="messages-group">
                    <div translate>LOAD_FILE_ERROR</div>
                </div>
            </div>
            <div class="panel panel-default">
                {{template.description}}
            </div>
            <div>
                <h4 translate>TEMPLATE_LIST_FILE_CONTENT </h4>
                <br/> <textarea class="big-textarea" ng-keyup="autoExpand($event)" ng-model="fileContent"></textarea>
            </div>
            <br/>
            <input type="text" ng-model="fileName"/>
            <br/>
            <div class="panel panel-default">
                <div class="pull-left">
                    <button class="btn btn-info" ng-disabled="showLoadFileError"
                            ng-class="{'active': !showLoadFileError,'disabled': showLoadFileError}"
                            ng-click="downloadFile(fileContent)" translate>
                        TEMPLATE_LIST_GENERATE_FILE
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-info"  ng-disabled="showLoadFileError"
                            ng-class="{'active': !showLoadFileError,'disabled': showLoadFileError}"
                            ng-click="saveFileOnServer(template.id, template.name, fileContent)" translate>
                        TEMPLATE_LIST_SAVE_CHANGES
                    </button>
                </div>
            </div>
            <br/>
            <br/>
            <div class="panel panel-footer pull-left" ng-show="showDownloadLink">
                <a download="{{fileName}}" id="downloadlink" translate>TEMPLATE_LIST_DOWNLOAD_FILE</a>
            </div>
            <br/>
            <br/>
        </div>
    </script>
    <!--File template end-->

    <!--Url template begin-->
    <script type="text/ng-template" id="accordion-content-url.html">
        <div ng-if="statusOpen" ng-init="loadUrl(template.id, template.name)">
            <div class="alert alert-danger" ng-show="showLoadUrlError" ng-cloak>
                <div class="messages-group">
                    <div translate>LOAD_URL_ERROR</div>
                </div>
            </div>
            <div class="panel panel-default">
                {{template.description}}
            </div>
            <button class="btn btn-info pull-left" ng-click="redirectToUrl(url)" translate>
                TEMPLATE_LIST_OPEN_URL_BTN
            </button>
            <br/>
            <br/>
        </div>
    </script>
    <!--Url template end-->


    <!--Generic template begin-->
    <script type="text/ng-template" id="accordion-panel.html">
        <uib-accordion-group is-open="statusOpen">
            <uib-accordion-heading>
               <span class="pull-left glyphicon" ng-class="
                        {'glyphicon-chevron-right': statusOpen,'glyphicon-chevron-down': !statusOpen}"></span>
                {{template.name}}
            </uib-accordion-heading>
            <div ng-switch="template.type">
                <div ng-switch-when="SCRIPT">
                    <div ng-include="'accordion-content-script.html'"></div>
                </div>
                <div ng-switch-when="FILE">
                    <div ng-include="'accordion-content-file.html'"></div>
                </div>
                <div ng-switch-when="URL">
                    <div ng-include="'accordion-content-url.html'"></div>
                </div>
            </div>
            <br/>
            <div ng-if="statusOpen" ng-init="resetFlags()">
                <div class="alert alert-danger" ng-show="showLoadHistoryError" ng-cloak>
                    <div class="messages-group">
                        <div translate>LOAD_HISTORY_ERROR</div>
                    </div>
                </div>
                <button class="btn btn-info" ng-click="loadTemplateHistory(template.id, template.name)" translate>
                    SHOW_TEMPLATE_HISTORY
                </button>
                <br/>
                <br/>
                <div ng-show="showHistoryTable">
                    <h4 translate>TEMPLATE_HISTORY_HEADER</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate>TABLE_HEADER_TIME</th>
                            <th translate>TABLE_HEADER_COURSE</th>
                            <th translate>TABLE_HEADER_EDITION</th>
                            <th translate>TABLE_HEADER_GROUP</th>
                            <th translate>TABLE_HEADER_USER</th>
                            <th translate>TABLE_HEADER_CONTENT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in templateHistory">
                            <td>{{ x.executionTime }}</td>
                            <td>{{ x.course }}</td>
                            <td>{{ x.edition }}</td>
                            <td>{{ x.group }}</td>
                            <td>{{ x.user }}</td>
                            <td>{{ x.content }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-accordion-group>
    </script>
    <!--Generic template end-->


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" translate>MAIN_HEADER </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="alert alert-danger" ng-show="showLogoutError" ng-cloak>
                            <div class="messages-group">
                                <div translate>LOG_OUT_ERROR</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="navbar-text navbar-inverse" translate>
                            LOGGED_USER
                        </span>
                        <span class="navbar-text navbar-inverse">
                            {{currentUserLogin}}
                        </span>
                        <button class="btn btn-info navbar-btn" ng-click="logout()" translate>LOG_OUT_BUTTON</button>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" ng-click="changeLanguage('pl')">
                            <img src="/img/poland-flag-small.jpg" width="30"/>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" ng-click="changeLanguage('en')">
                            <img src="/img/united-kingdom-flag-small.jpg" width="30"/>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div ui-tree id="tree-root" data-drag-enabled="false">
                    <button class="btn btn-info btn-xs btn-block" ng-click="expandAll()" translate>EXPAND_TREE_BUTTON
                    </button>
                    <button class="btn btn-info btn-xs btn-block" ng-click="collapseAll()" translate>
                        COLLAPSE_TREE_BUTTON
                    </button>
                    <ol ui-tree-nodes ng-model="treeData">
                        <li ng-repeat="list in treeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 align="center" class="page-header" translate>TEMPLATE_LIST_HEADER</h1>
                <uib-accordion ng-model="templatesData" close-others="true">
                    <div ng-repeat="template in templateData.templateList" ng-include="'accordion-panel.html'"></div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>