<div ng-controller="mainController">
    <!--Tree node template begin-->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="list.list && list.list.length > 0" data-nodrag
               ng-click="toggle(this)"><span
                    class="glyphicon"
                    ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
            {{list.name}}
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="loadTemplatesForNode(list.type)">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <ol ui-tree-nodes="" ng-model="list.list" ng-class="{hidden: collapsed}">
            <li ng-repeat="list in list.list" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <!--Tree node template end-->


    <!--Script template begin-->
    <script type="text/ng-template" id="accordion-content-script.html">
        <div ng-if="status.open" ng-init="resetAlertFlags()">
            <div class="alert alert-success" ng-show="showScriptSuccess" ng-cloak>
                <div class="messages-group">
                    <div>Polecenie wykonano pomyślnie!</div>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="showScriptError" ng-cloak>
                <div class="messages-group">
                    <div>Wykonanie polecenia nie powiodło się! Skontaktuj się z administratorem.</div>
                </div>
            </div>
            {{template.description}}
            <br/>
            <button class="btn btn-info" ng-click="runScript(template.id, template.name)">Wykonaj</button>
        </div>
    </script>
    <!--Script template end-->


    <!--File template begin-->
    <script type="text/ng-template" id="accordion-content-file.html">
        <div ng-if="status.open" ng-init="loadFileContent(template.id, template.name)">
            <div class="alert alert-success" ng-show="showFileSaveSuccess" ng-cloak>
                <div class="messages-group">
                    <div>Pomyślnie zapisano zmiany!</div>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="showFileSaveError" ng-cloak>
                <div class="messages-group">
                    <div>Zapisanie zmian nie powiodło się! Skontaktuj się z administratorem.</div>
                </div>
            </div>
            <div>
                <h4>Zawartość pliku:</h4>
                <br/> <textarea class="big-textarea" ng-keyup="autoExpand($event)" ng-model="fileContent"></textarea>
            </div>
            <br/>
            <input type="text" ng-model="fileName"/>
            <br/>
            <div class="panel panel-default">
                <div class="pull-left">
                    <button class="btn btn-info" ng-click="downloadFile(fileContent)">
                        Generuj plik do pobrania
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-info" ng-click="saveFileOnServer(template.id, template.name, fileContent)">Zapisz zmiany</button>
                </div>
            </div>
            <br/>
            <br/>
            <div class="panel panel-footer pull-left" ng-show="showDownloadLink">
                <a download="{{fileName}}" id="downloadlink">Pobierz plik</a>
            </div>
        </div>
    </script>
    <!--File template end-->

    <!--Url template begin-->
    <script type="text/ng-template" id="accordion-content-url.html">
        <div>
            URL
        </div>
    </script>
    <!--Url template end-->


    <!--Generic template begin-->
    <script type="text/ng-template" id="accordion-panel.html">
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
               <span class="pull-left glyphicon" ng-class="
                        {'glyphicon-chevron-right': status.open,'glyphicon-chevron-down': !status.open}"></span>
                {{template.name}}
            </uib-accordion-heading>
            <div ng-switch="template.type">
                <div ng-switch-when="SCRIPT">
                    <div ng-include="'accordion-content-script.html'"></div>
                </div>
                <div ng-switch-when="FILE">
                    <div ng-include="'accordion-content-file.html'"></div>
                </div>
                <div ng-switch-when="URL">
                    <div ng-include="'accordion-content-url.html'"></div>
                </div>
            </div>
        </uib-accordion-group>
    </script>
    <!--Generic template end-->


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-primary" ng-click="logout()">Wyloguj</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div ui-tree id="tree-root" data-drag-enabled="false">
                    <button class="btn btn-info btn-xs btn-block" ng-click="expandAll()">Rozwiń</button>
                    <button class="btn btn-info btn-xs btn-block" ng-click="collapseAll()">Zwiń</button>
                    <ol ui-tree-nodes ng-model="treeData">
                        <li ng-repeat="list in treeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 align="center" class="page-header">Lista szablonów</h1>
                <uib-accordion ng-model="templatesData" close-others="true">
                    <div ng-repeat="template in templateData.templateList" ng-include="'accordion-panel.html'"></div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>